<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/keneltour.css" />
    <title>Kenel Travel & Tour</title>
  </head>
  <body>
    <header>
      <!-- <img src="../public/images/tour.png" alt="" width="70px" height="70px" /> -->
      <div class="logoText">
        <h1>Kenel</h1>
        <h3>Travel & Tour</h3>
      </div>
    </header>
    <div class="pageLinks">
      <div class="pages">
        <a href="/">Home</a>
        <a href="about">About</a>
        <a href="contact">Contact</a>
      </div>
      <div class="line">|</div>
      <div class="upcoming">
        <a href="upcoming-tour">Upcoming Tour</a>
      </div>
    </div>
  </body>
</html>
